<nav
  class="navbar navbar-expand-lg sticky-top"
  style="
    background: linear-gradient(116.84deg, #da291c -1.91%, #f6be00 102.19%);
  "
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SHIV TILES</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Home</a
        >
        <a class="nav-link" routerLink="/purchase" routerLinkActive="active"
          >PURCHASE</a
        >
        <a class="nav-link" routerLink="/sale" routerLinkActive="active"
          >SALE</a
        >
        <a class="nav-link" routerLink="/log" routerLinkActive="active">LOG</a>
      </div>
    </div>
  </div>
</nav>
