/* .navbar {
    background: linear-gradient(116.84deg, #da291c -1.91%, #f6be00 102.19%);
    color: white;
    font-weight: bold;
    padding: 1rem;
  }
  
  .navbar-brand, .nav-link {
    color: white;
    font-weight: bold;
  }
    */
  
  .nav-link {
    margin-right: 1rem;
    color: white !important;
    
  }
  
  .nav-link:hover {
    text-decoration: underline;
  } 